# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/
*.egg
venv/
.env
*.db

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
backend/public_url.json
backend/scripts.db
/tmp/
